@keyframes open {
    0% {height: 0;}
    100% {height: unset; font-size: unset;}
}

@media (min-width: 760px) {

    #fact1-checkbox-label:checked ~ div.fact-card-layer {
        visibility: unset;
        opacity: 1;
        padding: 5%;
        animation: open 1s;
        animation-fill-mode: forwards;
    }

    #fact2-checkbox-label:checked ~ div.fact-card-layer {
        visibility: unset;
        opacity: 1;
        padding: 5%;
        animation: open 1s;
        animation-fill-mode: forwards;
    }

    #fact3-checkbox-label:checked ~ div.fact-card-layer {
        visibility: unset;
        opacity: 1;
        padding: 5%;
        animation: open 1s;
        animation-fill-mode: forwards;
    }

    #fact4-checkbox-label:checked ~ div.fact-card-layer {
        visibility: unset;
        opacity: 1;
        padding: 5%;
        animation: open 1s;
        animation-fill-mode: forwards;
    }

    #fact5-checkbox-label:checked ~ div.fact-card-layer {
        visibility: unset;
        opacity: 1;
        padding: 5%;
        animation: open 1s;
        animation-fill-mode: forwards;
    }

    #fact6-checkbox-label:checked ~ div.fact-card-layer {
        visibility: unset;
        opacity: 1;
        padding: 5%;
        animation: open 1s;
        animation-fill-mode: forwards;
    }

}

