#import "colors.css";

.navbar-header label a {
   font-weight: bold;
   font-size: 1rem;
   float: left;
   top: 0;
}

#label a {
   font-weight: bold;
   text-transform: uppercase;
}

.navbar-header {
   width: 100%;
   background-color: var(--sub_color);
   padding: 1rem;
   z-index: 2;
}

.navbar {
   position: fixed;
   top: -100vh;
   left: 0;
   background-color: var(--sub_color);
   width: 100%;
   padding: 3vh;
   padding-top: 10vh;
   transition: all ease 1s;
   transition-delay: 0.2s;
   opacity: 0;
}

.navbar ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: inherit;
}

.navbar ul li {
   padding: 1%;
   width: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.navbar ul li a {
   padding: 5%;
   width: inherit;
   text-align: center;
   border-radius: 100vh;
   transition: all ease 0.3s;
}

/*when hovering navbar*/
.navbar-header:hover .navbar {
   top: 0;
   opacity: 1;
}

.navbar-header ul li a:hover {
   background-color: var(--button_hover_color);
}

/*FOR DESKTOP SCREEN SIZE*/
@media (min-width: 760px) {

   .navbar-margin {
      margin: 1rem;
   }

   .navbar-header label {
      margin: 0 0.5rem;
      width: 30%;
      display: flex;
      align-items: center;
   }

   .navbar-header label a {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
   }

   .navbar-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      border-radius: 100vh;
      padding: 0.5rem;
   }

   .navbar, .navbar ul, .navbar ul li, .navbar ul li a {
      opacity: 1;
      position: unset;
      padding: 0;
      margin: 0;
      background-color: unset;
   }

   .navbar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .navbar ul li a {
      padding: 0.5rem;
   }

}