@import "variables.css";
@import "navigation/header.css";
@import "navigation/footer.css";
@import "design/card.css";
@import "animation/card-hover.css";
@import "layout/sizes.css";
@import "design/scrollbar.css";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: arial;
   text-decoration: none;
   color: var(--color-font);
}

body {
   background-color: var(--color-main);
   padding-top: 5rem;
   height: 100vh;
}

/*content*/
.content {
   padding: 5% 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

.content-label {
   font-size: 1.6rem;
   font-weight: bold;
   width: 100%;
   text-align: center;
   padding-top: 5%;
}

.title-bar {
   padding: 0;
   margin-top: 2rem;
   text-align: left;
   width: 80%;
   justify-content: space-between;
   flex-direction: row;
   display: flex;
}

.button-browse {
   background: var(--color-sub);
   padding: 1rem;
   border-radius: var(--radius-box);
   transition: all ease 0.3s;
}

.button-browse:hover {
   transform: scale(1.1);
}

.video-pane {
   margin: 1rem;
   padding: 2rem;
   width: 80%;
   background: var(--color-sub);
   overflow: auto;
   white-space: nowrap;
   box-shadow: 0 3px 5px black;
   border-radius: var(--radius-textbox);
   min-height: 144px;
}

.video {
   margin: 2rem;
   background: var(--color-main);
}

/*desktop media query*/
@media (min-width: 760px) {

   .content-label {
      font-size: 2rem;
   }

   .content {
      padding: 5% 10%;
   }

   .fact-card {
      margin: 5%;
   }

   .video {
      height: 50%;
      width: 50%;
      padding: 0;
      margin: 0 20px;
      border-radius: 0.5rem;
   }
}